footer {
  background: #353535;
  padding-bottom: 20px; }

.title-info-contact h2, .suport-pay .title-pay h2, .support-customer .title-support-customer h2, .newsletter .title-newsletter h2, .follow .title-follow h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 25px;
  text-transform: uppercase; }

.text-info-contact p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #FFFFFF; }
  .text-info-contact p a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF; }

.suport-pay {
  text-align: center; }
  @media (max-width: 991px) {
    .suport-pay {
      text-align: unset; } }
  .suport-pay .img-pay img {
    margin: 10px; }
    @media (max-width: 1025px) {
      .suport-pay .img-pay img {
        margin: 0px; } }

.coso .item-coso h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-bottom: 25px;
  margin-bottom: 10px;
  text-transform: uppercase; }
.coso .item-coso p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  color: #FFFFFF;
  margin: 0px; }

.botom-footer {
  float: left;
  width: 100%;
  padding-top: 20px;
  border-top: 1px solid rgba(143, 143, 143, 0.2); }
  .botom-footer .menu-footer {
    float: left;
    width: 50%; }
    @media (max-width: 1300px) and (min-width: 992px) {
      .botom-footer .menu-footer {
        width: 55%; } }
    @media (max-width: 991px) {
      .botom-footer .menu-footer {
        width: 100%;
        margin-bottom: 30px; } }
    .botom-footer .menu-footer ul {
      margin-bottom: 20px;
      padding: 0px;
      float: left; }
      .botom-footer .menu-footer ul li {
        float: left;
        list-style: none;
        padding: 0 18px;
        text-transform: uppercase; }
        @media (max-width: 1300px) and (min-width: 992px) {
          .botom-footer .menu-footer ul li {
            padding: 0 8px; } }
        .botom-footer .menu-footer ul li:first-child {
          padding-left: 0px; }
        .botom-footer .menu-footer ul li:nth-child(2) {
          border-left: 1px solid #FFFFFF;
          border-right: 1px solid #FFFFFF; }
        @media (max-width: 768px) {
          .botom-footer .menu-footer ul li {
            float: none;
            border: none !important;
            padding: 0px !important; } }
        .botom-footer .menu-footer ul li a {
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 17px;
          letter-spacing: 0.06em;
          color: #FFFFFF; }
          @media (max-width: 1300px) and (min-width: 992px) {
            .botom-footer .menu-footer ul li a {
              font-size: 15px; } }
          .botom-footer .menu-footer ul li a:hover {
            color: #cca17e; }
    .botom-footer .menu-footer .copyright {
      float: left;
      width: 100%; }
      .botom-footer .menu-footer .copyright p {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        color: #FFFFFF;
        margin: 5px; }
  .botom-footer .register-mail {
    float: left;
    width: 35%; }
    @media (max-width: 1300px) and (min-width: 992px) {
      .botom-footer .register-mail {
        width: 45%;
        margin-bottom: 30px; } }
    @media (max-width: 991px) {
      .botom-footer .register-mail {
        width: 100%;
        margin-bottom: 30px; } }
    .botom-footer .register-mail h2 {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 17px;
      letter-spacing: 0.06em;
      color: #FFFFFF;
      margin-top: 0px; }
    .botom-footer .register-mail .form-mail {
      float: left; }
      .botom-footer .register-mail .form-mail input {
        float: left;
        width: 251px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        background: transparent;
        height: 36px;
        border: none;
        border-bottom: 1px solid #FFFFFF; }
        @media (max-width: 425px) {
          .botom-footer .register-mail .form-mail input {
            width: 190px; } }
      .botom-footer .register-mail .form-mail .btn-register-mail {
        float: left;
        margin-left: 15px; }
        @media (max-width: 425px) {
          .botom-footer .register-mail .form-mail .btn-register-mail {
            margin-left: 0px; } }
        .botom-footer .register-mail .form-mail .btn-register-mail button {
          border: none;
          width: 122px;
          height: 36px;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          background: transparent;
          font-family: Roboto;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          letter-spacing: 0.05em;
          color: #FFFFFF; }
          @media (max-width: 425px) {
            .botom-footer .register-mail .form-mail .btn-register-mail button {
              width: 90px; } }
          .botom-footer .register-mail .form-mail .btn-register-mail button:hover {
            background: #a1b675; }
  .botom-footer .btn-dadangky {
    float: right;
    width: 15%;
    margin-bottom: 30px; }
    @media (max-width: 1300px) and (min-width: 992px) {
      .botom-footer .btn-dadangky {
        float: left; } }
    @media (max-width: 991px) {
      .botom-footer .btn-dadangky {
        width: 100%; } }

.info-contact .address-room, .info-contact .info-address, .info-contact .info-phone, .info-contact .info-email {
  margin-bottom: 20px; }
  .info-contact .address-room span, .info-contact .info-address span, .info-contact .info-phone span, .info-contact .info-email span {
    font-family: Roboto;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF; }
.info-contact .info-phone a {
  color: #fff; }
  .info-contact .info-phone a:hover {
    color: #3adc13; }
.info-contact .info-email a {
  color: #fff; }
  .info-contact .info-email a:hover {
    color: #3adc13; }

.support-customer .text-suport-customer ul {
  padding: 0px; }
  .support-customer .text-suport-customer ul li {
    list-style: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 32px; }
    .support-customer .text-suport-customer ul li a {
      color: #EFEFEF; }
      .support-customer .text-suport-customer ul li a:hover {
        color: #FFCD1E; }

.newsletter .text-register-info p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: #EFEFEF;
  margin-bottom: 25px; }
.newsletter form {
  margin-bottom: 30px; }
  .newsletter form input {
    width: 100%;
    height: 43px;
    background: #FFFFFF;
    border: 0.2px solid #919191;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 15px;
    color: #878787;
    padding-left: 16px; }
  .newsletter form input[type="submit"] {
    background: #FFCD1E;
    padding: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #464646;
    margin-top: 15px; }
    .newsletter form input[type="submit"]:hover {
      background: #84C225;
      color: #fff; }

/*# sourceMappingURL=footer.css.map */
